#home-view {
    background-image: url('Monumen-Simpang-Lima-Gumul.jpg'); /* Ubah path ini sesuai lokasi gambar */
    background-size: cover;
    background-position: center;
    position: relative;
}
